/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #186c32;
  --error: #e7195a;
}

.donate-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f7f0;
}

.donate-block {
  width: 500px; 
  height: 60px;
  background-color: #fff;
  text-align: center;
  color: #22391c; 
  font-size: 40px;
  font-family: 'Poppins';
  font-weight: bold; 
  border-radius: 10px;
  border-color: #fff;
  cursor: pointer;
}


img {
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h1{
  font-size: 250%;
  color: #f1f7f0;
  text-align: center;
}

h2{
  padding-top: 10px;
  font-size: 200% ;
  text-align: center;
  align-items: center;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


@media screen and (max-width: 833px) {
  .home {
    grid-template-columns: 1fr; 
  }

  .workouts {
    order: 2; 
  }
}

@media screen and (max-width:1300px) {
  .home {
    gap: 30px;
  }
}
/* Styles for ItemsTable component */
.table-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 31vh); /* Adjust the height as needed */
}

.table {
  flex: 1; 
}


.table-row:hover {
  background-color: #f5f5f5;
}

.table-link {
  color: #042547;
  text-decoration: none;
}

.table-link:hover {
  text-decoration: underline;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
.error p{
  margin:0px;
}
.error ul{
  margin:0px;
  padding-inline-start: 20px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 100%;
}

nav a {
  margin-left: 10px;
}

nav button,
.notLoggedIn,
.homeLink {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 2em;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 5px;
  margin-bottom: 30px;
  text-decoration: none;
  max-width: fit-content;
  max-height: fit-content;
}

.email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }

  header h2{
    font-size: 25px;
  }

  nav a {
    margin: 5px 0;
    display: block;
  }

  nav button {
    margin-top: 5px;
  }
  nav .email {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  .donate-block {
    width: 100%; 
    height: 60px;
    background-color: #fff;
    text-align: center;
    color: #22391c; 
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: bold; 
    border-radius: 10px;
    border-color: #fff;
    cursor: pointer;
  }
  .homeItemsTable{
    max-width: 380px;
    padding-top: 1vh;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 10px;
  }
  
  .homeItemsContainer{
    display: flex;
    justify-content: center;
    margin: 1px;
    text-align: center;
  }
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.modify-inventory-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.modify-inventory-cont2{
  max-width: 300px;
  margin-top: 4vh;
  padding-top: 1vh;
  padding: 10px;
  background-color: #fff;
  
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modify-inventory-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container {

  max-width: 400px;
  margin: auto;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container .MuiTextField-root {
  width: 100%;
  margin-bottom: 20px;
}

.form-container .MuiFormControl-root {
  width: 100%;
  margin-bottom: 20px;
}

.form-container .MuiButton-root {
  margin-top: 20px;
}

.dropdown {
  width: 700px; /* Adjust the width as needed */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 10px;
}


.dropdown:focus {
  outline: none;
}

/* Dropdown styles */
.dropdown-container {
  display: flex;
  justify-content: center;
  
  margin-top: 20px; 
  margin-bottom: 20px;
  
  text-align: center;
}



.exclamation-icons {
  font-size: 90px;
}

.donate-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}



.exclamation-icons {
  font-size: 20px;
}

.donate-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


/* UserClaimItem.css */

.user-claim-item-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-claim-item-form {

  margin-top: 20px;
}

.user-claim-item-error {
  color: red;
  margin-top: 10px;
}


.homeItemsTable{
  padding-top: 1vh;
  width: 700px; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 10px;
}

.homeItemsContainer{
  
  display: flex;
  justify-content: center;
  margin: 1px;
  text-align: center;
}

.itemTableHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: first baseline;
  padding-top: 10px;
}


.itemTableHeader h1 {
  margin: 0; 
  color: white;
}


.background-section {
  background-image: url('../public/banner.webp'); 
  background-size: cover;
  background-position: center;
  padding: 50px 50px; 
  text-align: center;
  color: white; 
}


.menuItem {
  background-color: #75c38e; /* Use your primary color here */
  color: black; /* Text color */
  margin: 5px;
  outline: olive;
}

.menuItem:hover {
  background-color: #569c6c; /* Use a slightly darker shade on hover */
}



.adminItemsTable{
  padding-top: 1vh;
  width: 1000px; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 10px;
}

.adminItemsContainer{
  display: flex;
  justify-content: center;
  margin: 1px;
  text-align: center;
}

.claimItem p{
  font-size:17px;
  justify-content: center;
}

.scroll-container {
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}